:root {
    --mainBlack: #010101;
    --mainWhite: #ffffff;
    --colorGrey: rgba(210, 207, 206, 0.59);
    --colorGold: rgba(251, 228, 136, 0.56);
    --colorClay: rgba(110, 90, 89, 0.51);
    --DeepGreen: rgba(11, 77, 93, 0.38);
}

*, body {
    padding: 0;
    margin: 0;
    font-family: Avenir;
}

@font-face {
    font-family: Avenir;
    src: url(../avenir_ff/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: 'Avenir bold';
    src: url(../avenir_ff/AvenirLTStd-Black.otf);
}

h2, h3,
h4, h5, h6 {
    font-family: 'Avenir bold';
}

p {
    font-weight: normal;
}

nav {
    background: var(--mainBlack);
    width: 100%;
    margin: 0;
}

.navbar-nav {
    transition: 0.5s;
}


/* Jumbotron */
.jumbotron {
    background: var(--mainBlack);
    color: var(--mainWhite);
    position: relative;
    z-index: -5;
    overflow: hidden;
}

.jumbo-content {
    z-index: 20;
}

.jumbotron h1 {
    color: black;
    -webkit-text-fill-color: var(--mainBlack); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--mainWhite);
    font-size: 16.5rem;
    font-family: Avenir;
}

.jumbotron h3 {
    font-size: 5rem;
    font-family: Avenir;
    z-index: 500;
}

.jumbo-cam {
     position: absolute;
     right: 200px;
     bottom: 50px;
     z-index: -1;
     overflow: hidden;
}



.rain {
    position: absolute;
    width: 100%;
    height: 5px;
    background:rgba(255, 255, 255, 0.15);
    opacity: 0.5;
    top: 0;
    border-radius: 10px;
    transform: rotate(-90deg);
}

.y1 {
    left: 350px;
}

.y2 {
    left: 200px;
}

.y3 {
    left: 50px;
}

.y4 {
    right: 50px;
}

.y5 {
    right: 200px;
}

.y6 {
    right: 350px;
}


/* Profile */
#profile {
    background: url('../images/profile-bg.png') center/cover no-repeat;
    color: var(--mainWhite);
}

#profile h2 {
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.52);
}

#profile p {
    font-size: 2rem;
    font-weight: normal;
}

/*service */
#service {
    background: url('../images/service-bg.png') center/cover no-repeat;
    color: var(--mainWhite);
}

#service h2{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.52);
}

.icon-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.outer {
    position: absolute;
    bottom: 5px;
}

.middle {
    position: absolute;
    left: 12px;
    top: 30px;
}

.inner {
    position: absolute;
    left: 28px;
    bottom: 35px;
}

.inner1 {
    position: absolute;
    bottom: 5px;
}

.middle1 {
    position: absolute;
    left: 0;
    bottom: 12px;
}

.outer1 {
    position: absolute;
    left: 0;
    bottom: 25px;
}

.rect-inner {
    position: absolute;
    bottom: 5px;
}

.rect-middle {
    position: absolute;
    left: 10px;
    bottom: 12px;
}

.rect-outer {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.square {
    position: absolute;
    bottom: 5px;
}

.square-middle {
    position: absolute;
    left: 35px;
    top: 20px;
}

.square-outer {
    position: absolute;
    left: 40px;
    top: 25px;
}

/* project */
#project {
    background: var(--mainBlack);
    color: var(--mainWhite);
}

#project h2 {
    font-size: 4rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.grey {
    background: var(--colorGrey);
}

.gold {
    background: var(--colorGold);
}

.clay {
    background: var(--colorClay);
}

.purple {
    background: var(--DeepGreen);
}

/* review */
#review {
    background: var(--mainBlack);
    color: var(--mainWhite);
}

#review h2 {
    font-size: 3rem;
}

.card {
    color: var(--mainWhite);
    background: var(--mainBlack);
    border: 1px solid rgba(255, 255, 255, 0.19);
    padding: 15px;
}

.card-body {
    border: 1px solid rgba(255, 255, 255, 0.49);
}

.card-body p {
    font-size: 1rem;
}


/* form-section */
#form-section {
    background: url('../images/bg.png') center/cover no-repeat;
    color: var(--mainWhite);
}

#form-section h2 {
    font-size: 2.7rem;
}

#form-section p {
    font-size: 1em;
}

.form-control {
    background: transparent;
    border-bottom: 3px solid var(--mainWhite);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 0;
}

.form-control:focus {
    background: transparent;
    border-bottom: 3px solid var(--mainWhite);
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn-primary {
    background: var(--mainWhite);
    color: var(--mainBlack);
    border: none;
    border-radius: none;
}

.btn-primary:hover {
    background: var(--mainWhite);
    color: var(--mainBlack);
}

/* footer */
footer {
    background: var(--mainBlack);
    color: var(--mainWhite);
}

.fab, .fas {
    color: var(--mainWhite);
}

/* MEDIA QUERY */
@media only screen and (max-width: 1200px) {
    .jumbotron h1 {
        font-size: 15rem;
    }
    
    .jumbotron h3 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 992px) {
    .nav-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .jumbotron h1 {
        font-size: 11rem;
    }
    
    .jumbotron h3 {
        font-size: 3.5rem;
    }

    #profile h2 {
        font-size: 5rem;
    }
    
    #profile p {
        font-size: 1.5rem;
        font-weight: normal;
    }

    #project h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .jumbotron h1 {
        font-size: 9rem;
    }
    
    .jumbotron h3 {
        font-size: 3rem;
    }

    .y1 {
        left: 250px;
    }

    .y2 {
        left: 150px;
    }

    .y3 {
        left: 50px;
    }

    .y4 {
        right: 50px;
    }

    .y5 {
        right: 150px;
    }

    .y6 {
        right: 250px;
    }


    #profile h2 {
        color: black;
        -webkit-text-fill-color: black; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;
        font-size: 3rem;
    }
    
    #profile p {
        font-size: 1.2rem;
        font-weight: normal;
    }

    #service h2{
        font-size: 3rem;
    }

    #review h1 {
        font-size: 2rem;
    }

    .card-body p {
        font-size: .8rem;
    }

    #form-section h2 {
        font-size: 1.7rem;
    }
    
    #form-section p {
        font-size: 1em;
    }

    footer p {
        font-size: .9em;
    }
}

@media only screen and (max-width: 600px) {
    .jumbotron h1 {
        font-size: 5rem;
    }
    
    .jumbotron h3 {
        font-size: 2.5rem;
    }

    #profile h1 {
        font-size: 2.2rem;
    }
    
    #profile p {
        font-size: .9rem;
        font-weight: normal;
    }

    #service h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .jumbotron h1 {
        font-size: 4.5rem;
    }
    
    .jumbotron h3 {
        font-size: 2.5rem;
    }
}

